In [ ]:
# Data Types and Missing Values

In [ ]:
# The data type for a column in a DataFrame or a Series is known as the dtype.

In [2]:
import pandas as pd
melb = pd.read_csv('../../../Datasets/kaggle/melb_data.csv')

In [4]:
melb.Price.dtype

dtype('int64')

In [5]:
melb.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price              int64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode           int64
Bedroom2           int64
Bathroom           int64
Car              float64
Landsize           int64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount      int64
dtype: object

In [6]:
# One peculiarity to keep in mind (and on display very clearly here) is that columns consisting entirely of strings do not get their own type; they are instead given the object type

In [7]:
#transform Rooms into a float
melb.Rooms.astype('float64')

0        3.0
1        5.0
2        4.0
3        6.0
4        5.0
        ...
13575    1.0
13576    4.0
13577    1.0
13578    4.0
13579    1.0
Name: Rooms, Length: 13580, dtype: float64

In [8]:
#  DataFrame or Series index has its own dtype, too
melb.index.dtype

dtype('int64')

In [9]:
#-------------
#Missing data

In [10]:
# For technical reasons these NaN values are always of the float64 dtype.

In [31]:
# melb[pd.isnull(melb.Car)]
melb.Car.isnull().sum()

62

In [13]:
# Replacing missing values is a common operation. Pandas provides a really handy method for this problem: fillna()

In [14]:
melb.Car.fillna('unknown')

0        1.0
1        4.0
2        4.0
3        3.0
4        1.0
        ...
13575    0.0
13576    1.0
13577    1.0
13578    2.0
13579    0.0
Name: Car, Length: 13580, dtype: object

In [26]:
import numpy as np

In [27]:
melb.Car.replace(r'^\s*$', np.nan, regex=True)

0        1.0
1        4.0
2        4.0
3        3.0
4        1.0
        ...
13575    0.0
13576    1.0
13577    1.0
13578    2.0
13579    0.0
Name: Car, Length: 13580, dtype: float64

In [28]:
melb.Car.to_csv('car.csv')

In [29]:
melb.groupby('Car').Car.count()

Car
0.0     1026
1.0     5509
2.0     5591
3.0      748
4.0      506
5.0       63
6.0       54
7.0        8
8.0        9
9.0        1
10.0       3
Name: Car, dtype: int64