In [ ]:
#--------------------------
# Summary functions

In [3]:
import pandas as pd
import numpy as np
melb = pd.read_csv('../../../Datasets/kaggle/melb_data.csv')

In [4]:
melb.Price.describe()

count    1.358000e+04
mean     1.075684e+06
std      6.393107e+05
min      8.500000e+04
25%      6.500000e+05
50%      9.030000e+05
75%      1.330000e+06
max      9.000000e+06
Name: Price, dtype: float64

In [5]:
melb.Regionname.describe()

count                     13580
unique                        8
top       Southern Metropolitan
freq                       4695
Name: Regionname, dtype: object

In [6]:
melb.Price.mean()

1075684.079455081

In [10]:
melb.CouncilArea.unique()

array(['Monash', 'Boroondara', nan, 'Stonnington', 'Bayside',
       'Port Phillip', 'Melbourne', 'Darebin', 'Yarra', 'Whitehorse',
       'Moonee Valley', 'Banyule', 'Hobsons Bay', 'Glen Eira', 'Moreland',
       'Manningham', 'Maribyrnong', 'Kingston', 'Knox', 'Maroondah',
       'Nillumbik', 'Whittlesea', 'Frankston', 'Brimbank', 'Unavailable',
       'Wyndham', 'Casey', 'Greater Dandenong', 'Hume', 'Melton',
       'Yarra Ranges', 'Macedon Ranges', 'Cardinia', 'Moorabool'],
      dtype=object)

In [11]:
melb.CouncilArea.value_counts()

Moreland             1163
Boroondara           1160
Moonee Valley         997
Darebin               934
Glen Eira             848
Stonnington           719
Maribyrnong           692
Yarra                 647
Port Phillip          628
Banyule               594
Bayside               489
Melbourne             470
Hobsons Bay           434
Brimbank              424
Monash                333
Manningham            311
Whitehorse            304
Kingston              207
Whittlesea            167
Hume                  164
Wyndham                86
Maroondah              80
Knox                   80
Melton                 66
Frankston              53
Greater Dandenong      52
Casey                  38
Nillumbik              36
Yarra Ranges           18
Cardinia                8
Macedon Ranges          7
Unavailable             1
Moorabool               1
Name: CouncilArea, dtype: int64

In [12]:
#-----------------------
#Maps

In [13]:
# remean the price to 0

In [14]:
melb_price_mean = melb.Price.mean()
melb.Price.map(lambda p: p - melb_price_mean)

0        7.924316e+06
1        6.924316e+06
2        6.574316e+06
3        5.424316e+06
4        5.324316e+06
             ...
13575   -9.156841e+05
13576   -9.306841e+05
13577   -9.306841e+05
13578   -9.446841e+05
13579   -9.906841e+05
Name: Price, Length: 13580, dtype: float64

In [18]:
def remean_price(row):
    row.Price = row.Price - melb_price_mean
    return row

melb.apply(remean_price, axis='columns')

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Mulgrave,35 Bevis St,3,h,7.924316e+06,PI,Hall,29/07/2017,18.8,3170,...,1,1.0,744,117.0,1960.0,Monash,-37.93168,145.16126,South-Eastern Metropolitan,7113
1,Canterbury,49 Mangarra Rd,5,h,6.924316e+06,VB,Sotheby's,13/05/2017,9.0,3126,...,5,4.0,2079,464.3,1880.0,Boroondara,-37.81790,145.06940,Southern Metropolitan,3265
2,Hawthorn,49 Lisson Gr,4,h,6.574316e+06,S,Abercromby's,17/06/2017,5.3,3122,...,2,4.0,1690,284.0,1863.0,Boroondara,-37.82652,145.03052,Southern Metropolitan,11308
3,Kew,15 Barry St,6,h,5.424316e+06,S,Jellis,13/08/2016,5.6,3101,...,6,3.0,1334,365.0,1890.0,Boroondara,-37.80290,145.02670,Southern Metropolitan,10331
4,Middle Park,136 Page St,5,h,5.324316e+06,S,Marshall,09/09/2017,3.0,3206,...,2,1.0,553,308.0,1920.0,NaN,-37.84908,144.95753,Southern Metropolitan,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Hawthorn,17/17 Park St,1,u,-9.156841e+05,VB,HAR,08/04/2017,4.6,3122,...,1,0.0,322,NaN,2009.0,Boroondara,-37.81980,145.03730,Southern Metropolitan,11308
13576,Coburg,171 Moreland Rd,4,h,-9.306841e+05,PI,Jellis,04/06/2016,7.8,3058,...,1,1.0,536,164.0,1910.0,Moreland,-37.75550,144.96580,Northern Metropolitan,11204
13577,Albion,8/6 Ridley St,1,u,-9.306841e+05,PI,Biggin,28/05/2016,13.9,3020,...,1,1.0,36,NaN,NaN,Brimbank,-37.78330,144.82660,Western Metropolitan,2185
13578,Caulfield,30 Pyne St,4,h,-9.446841e+05,PI,Rodney,25/02/2017,8.9,3162,...,1,2.0,499,155.0,1920.0,Glen Eira,-37.88640,145.02420,Southern Metropolitan,2379
13579,Footscray,202/51 Gordon St,1,u,-9.906841e+05,PI,Burnham,03/09/2016,6.4,3011,...,1,0.0,0,NaN,2007.0,Maribyrnong,-37.79110,144.89000,Western Metropolitan,7570

In [19]:
# Note that map() and apply() return new, transformed Series and DataFrames, respectively. They don't modify the original data they're called on. If we look at the first row of reviews, we can see that it still has its original points value.

In [20]:
# faster way
melb_price_mean = melb.Price.mean()
melb.Price - melb_price_mean

0        7.924316e+06
1        6.924316e+06
2        6.574316e+06
3        5.424316e+06
4        5.324316e+06
             ...
13575   -9.156841e+05
13576   -9.306841e+05
13577   -9.306841e+05
13578   -9.446841e+05
13579   -9.906841e+05
Name: Price, Length: 13580, dtype: float64

In [22]:
#combine council and region columns
melb.CouncilArea + " - " + melb.Regionname

0        Monash - South-Eastern Metropolitan
1         Boroondara - Southern Metropolitan
2         Boroondara - Southern Metropolitan
3         Boroondara - Southern Metropolitan
4                                        NaN
                        ...
13575     Boroondara - Southern Metropolitan
13576       Moreland - Northern Metropolitan
13577        Brimbank - Western Metropolitan
13578      Glen Eira - Southern Metropolitan
13579     Maribyrnong - Western Metropolitan
Length: 13580, dtype: object

In [23]:
# These operators are faster than map() or apply() because they use speed ups built into pandas. All of the standard Python operators (>, <, ==, and so on) work in this manner.

# However, they are not as flexible as map() or apply(), which can do more advanced things, like applying conditional logic, which cannot be done with addition and subtraction alone.

In [24]:
melb.Price / melb.Bathroom

0        9.000000e+06
1        1.600000e+06
2        3.825000e+06
3        1.083333e+06
4        3.200000e+06
             ...
13575    1.600000e+05
13576    1.450000e+05
13577    1.450000e+05
13578    1.310000e+05
13579    8.500000e+04
Length: 13580, dtype: float64

In [28]:
melb['price / bathroom'] = melb.Price / melb.Bathroom

In [29]:
melb.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,price / bathroom
0,Mulgrave,35 Bevis St,3,h,9000000,PI,Hall,29/07/2017,18.8,3170,...,1.0,744,117.0,1960.0,Monash,-37.93168,145.16126,South-Eastern Metropolitan,7113,9.000000e+06
1,Canterbury,49 Mangarra Rd,5,h,8000000,VB,Sotheby's,13/05/2017,9.0,3126,...,4.0,2079,464.3,1880.0,Boroondara,-37.81790,145.06940,Southern Metropolitan,3265,1.600000e+06
2,Hawthorn,49 Lisson Gr,4,h,7650000,S,Abercromby's,17/06/2017,5.3,3122,...,4.0,1690,284.0,1863.0,Boroondara,-37.82652,145.03052,Southern Metropolitan,11308,3.825000e+06
3,Kew,15 Barry St,6,h,6500000,S,Jellis,13/08/2016,5.6,3101,...,3.0,1334,365.0,1890.0,Boroondara,-37.80290,145.02670,Southern Metropolitan,10331,1.083333e+06
4,Middle Park,136 Page St,5,h,6400000,S,Marshall,09/09/2017,3.0,3206,...,1.0,553,308.0,1920.0,NaN,-37.84908,144.95753,Southern Metropolitan,2019,3.200000e+06

In [30]:
melb.sort_values(["price / bathroom"], ascending=False)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,price / bathroom
12852,Elsternwick,5/29 Nepean Hwy,2,u,410000,VB,Gary,28/05/2016,8.5,3185,...,0.0,0,NaN,NaN,Glen Eira,-37.8863,144.9996,Southern Metropolitan,4898,inf
8904,East Melbourne,37/22 Agnes St,2,u,740000,SP,Woodards,08/10/2016,1.5,3002,...,0.0,0,NaN,NaN,Melbourne,-37.8177,144.9801,Northern Metropolitan,3040,inf
5278,Ivanhoe,1/53 Norman St,3,t,1060000,S,Purplebricks,29/04/2017,7.9,3079,...,0.0,219,NaN,1980.0,Banyule,-37.7679,145.0466,Eastern Metropolitan,5549,inf
5627,Balwyn,5 Shrimpton Ct,2,h,1010000,PI,Marshall,30/07/2016,9.7,3103,...,0.0,1611,NaN,NaN,Boroondara,-37.8092,145.1016,Southern Metropolitan,5682,inf
5645,Preston,86 Malpas St,3,h,1010000,SP,McGrath,20/05/2017,8.8,3072,...,0.0,533,NaN,NaN,Darebin,-37.7336,145.0168,Northern Metropolitan,14577,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10432,Preston,672 Plenty Rd,5,h,630000,PI,hockingstuart,04/03/2017,8.8,3072,...,3.0,199,5.0,NaN,Darebin,-37.7309,145.0151,Northern Metropolitan,14577,1.260000e+05
8749,Fawkner,39 Lynch Rd,3,h,751000,S,Stockdale,17/09/2016,12.4,3060,...,2.0,592,103.0,1960.0,Moreland,-37.7120,144.9719,Northern Metropolitan,5070,1.251667e+05
12189,Sunshine West,14 Myers St,3,h,485000,S,hockingstuart,12/11/2016,13.5,3020,...,2.0,482,166.0,1955.0,Brimbank,-37.7904,144.8133,Western Metropolitan,6763,1.212500e+05
8627,Preston,421 Murray Rd,4,h,760000,PI,Barry,22/05/2016,8.8,3072,...,7.0,1254,280.0,1928.0,Darebin,-37.7367,144.9895,Northern Metropolitan,14577,9.500000e+04
13579,Footscray,202/51 Gordon St,1,u,85000,PI,Burnham,03/09/2016,6.4,3011,...,0.0,0,NaN,2007.0,Maribyrnong,-37.7911,144.8900,Western Metropolitan,7570,8.500000e+04

In [36]:
# Another method for above
ratio_idx = (melb.Price / melb.Bathroom).idxmax()
final_ratio = melb.loc[ratio_idx]

In [37]:
final_ratio

Suburb                           Brighton
Address                         17 New St
Rooms                                   3
Type                                    h
Price                             1900000
Method                                  S
SellerG                          Marshall
Date                           06/08/2016
Distance                             11.2
Postcode                             3186
Bedroom2                                3
Bathroom                                0
Car                                   0.0
Landsize                                0
BuildingArea                          NaN
YearBuilt                             NaN
CouncilArea                       Bayside
Lattitude                        -37.9301
Longtitude                       144.9935
Regionname          Southern Metropolitan
Propertycount                       10579
price / bathroom                      inf
Name: 1225, dtype: object

In [40]:
#Another q
n_arm = melb.Suburb.map(lambda desc: "Armadale" in desc).sum()
n_haw = melb.Suburb.map(lambda desc: "Hawthorn" in desc).sum()
descriptor_counts = pd.Series([n_arm, n_haw], index=['Armadale', 'Hawthorn'])
descriptor_counts

Armadale     95
Hawthorn    310
dtype: int64

In [43]:
#Another q
def stars(row):
    if row.Distance == 'Hawthorn':
        return 3
    elif row.Distance >= 40:
        return 4
    elif row.Distance >= 45:
        return 5
    else:
        return 1

star_ratings = melb.apply(stars, axis='columns')
star_ratings

0        1
1        1
2        1
3        1
4        1
        ..
13575    1
13576    1
13577    1
13578    1
13579    1
Length: 13580, dtype: int64